
body {
  background-color:#FFF1EB;
  font-family: Helvetica, Times, serif;
}

h1 {
  color: black;
  font-size: 35px;
  font-weight: lighter;
}

#board {
  position: absolute;
  top: 200px;
  left: 200px;
  width: 1500px;
  height: 1500px;
}

.room {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: -2px;
}

.vertical-wall {
  width: 25px;
  height: 100px;
  background-color: black;
  display: inline-block;
  margin: -2px;
}

.square {
  width: 25px;
  height: 25px;
  background-color: black;
  display: inline-block;
  margin: -2px;
}

.horizontal-wall {
  width: 100px;
  height: 25px;
  background-color: black;
  display: inline-block;
  margin: -2px;
}

.quantity-people {
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  color: black;
}

.row{
  display: block;
  padding: 0px;
  margin: 0px;
}
