body {
  background-color: #FFF1EB;
  font-family: Helvetica, Times, serif;
}

h1 {
  color: black;
  font-size: 35px;
  font-weight: lighter;
}

#board {
  position: absolute;
  top: 150px;
  left: 200px;
  width: 1500px;
  height: 1500px;
  padding: 0px;
  margin: 0px;
}

.room {
  width: 100px;
  height: 100px;
  display: inline-block;
  
}

.vertical-wall {
  width: 25px;
  height: 100px;
  background-color: black;
  display: inline-block;
}

.square {
  width: 25px;
  height: 25px;
  background-color: black;
  display: inline-block;
}

.horizontal-wall {
  width: 100px;
  height: 25px;
  background-color: black;
  display: inline-block;
}

.quantity-people {
  font-size: 15px;
  text-align: center;
  color: black;
}

.row {
  height: 100px;
}

.row-wall {
  height: 25px;
}

.horizontal-exit {
  background: transparent;
  width: 100px;
  height: 25px;
  display: inline-block;
}

.vertical-exit {
  background: transparent;
  width: 25px;
  height: 100px;
  display: inline-block;
}

.vertical-breakable {
  width: 25px;
  height: 100px;
  display: inline-block;
}

.horizontal-breakable {
  width: 100px;
  height: 25px;
  display: inline-block;
}

.vertical-partition {
  width: 10px;
  margin-left: 7.5px;
  height: 100%;
  background-color: black;
}

.horizontal-partition {
  height: 10px;
  margin-top: 7.5px;
  width: 100%;
  background-color: black;
  vertical-align: middle;
}

.disabled {
  background: transparent;
}
