body {
  background-color: #FFF1EB;
  font-family: Helvetica, Times, serif;
  font-weight: lighter;
}

h1 {
  color: black;
  font-size: 35px;
  margin-left: 30px;
  margin-top: 30px;
  /*font-weight: lighter;*/
}

#board {
  position: absolute;
  top: 150px;
  left: 450px;
  width: 800px;
  padding: 0px;
  margin: 0px;
}

.room {
  width: 100px;
  height: 100px;
  display: inline-block;
  line-height: 95px;
  vertical-align: text-bottom;
}

.vertical-wall {
  width: 25px;
  height: 100px;
  background-color: black;
  display: inline-block;
}

.square {
  width: 25px;
  height: 25px;
  background-color: black;
  display: inline-block;
}

.horizontal-wall {
  width: 100px;
  height: 25px;
  background-color: black;
  display: inline-block;
}

.quantity-people {
  font-size: 20px;
  text-align: center;
  color: black;
}

.row {
  height: 100px;
}

.row-wall {
  height: 25px;
}

.horizontal-exit {
  background: transparent;
  width: 100px;
  height: 25px;
  display: inline-block;
}

.vertical-exit {
  background: transparent;
  width: 25px;
  height: 100px;
  display: inline-block;
}

.vertical-breakable {
  width: 25px;
  height: 100px;
  display: inline-block;
}

.horizontal-breakable {
  width: 100px;
  height: 25px;
  display: inline-block;
}

.vertical-partition {
  width: 10px;
  margin-left: 7.5px;
  height: 100%;
  background-color: black;
}

.horizontal-partition {
  height: 10px;
  margin-top: 7.5px;
  width: 100%;
  background-color: black;
  vertical-align: middle;
}

.disabled {
  background: transparent;
}

#right-panel {
  position: absolute;
  top: 150px;
  left: 30px;
  width: 350px;
}

#timer {
  font-size: 60px;
  border: 4px black solid;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  text-align: center;
  line-height: 100px;
  margin: auto;
}

.score {
  font-size: 28px;
  margin-top: 100px;
  text-align: center;
}

.score b {
  font-size: 35px;
}

#player2 {
  margin-top: 30px;
}

.initial-screen {
  font-size: 25px;
  border: 1px black solid;
  width: 320px;
  height: 170px;
  text-align: center;
  padding: 100px 10px;
  position: absolute;
  left: 10px;
}

button {
  padding: 10px 12px;
  font-size: 16px;
  line-height: 2px;
  text-align: center;
  border: 1px black solid;
  white-space: nowrap;
  color: black;
  text-align: center;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  background-color: #FFF1EB;
  display: block;
  margin: 30px auto;
}

#level1 {
  margin-top: 60px;
}

.alert {
  text-align: center;
  width: 700px;
  height: 450px;
  font-size: 25px;
  border: 1px black solid;
  line-height: 200px;
  padding-top: 70px;
  margin-top: 20px;

}

.gif-box {
  margin-left: 50px;
  /*background-color: blue;*/
}
